MONGO_URI = ""
SECRET_KEY = 'yourSecretKey'
EXPIRES_IN = '1h'
SALT = 10

MAIL_USER =
MAIL_PASS = 

# 10 MINS ==> 10*60*1000
OTP_EXPIRES = 600000

# 1 hour ==> 60*60*1000
VERIFY_EMAIL_TOKEN_EXPIRES = 3600000

CLIENT_URL = http://localhost:3000