MONGO_URI = "mongodb+srv://nestjs-auth:nestjs-auth123@cluster0.itx4qcv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
SECRET_KEY = 'yourSecretKey'
EXPIRES_IN = '1h'
SALT = 10

MAIL_USER = muhamedkhairy13@gmail.com
MAIL_PASS = meuw ooqb pidd ytji
